#cx_header {
    background: whitesmoke;
  }
  
  #cx_header .cx_header {
    background: white;
  }
  
  #cx_header .cx_header h6 {
    background: whitesmoke;
    line-height: 40px;
    font-size: 12px;
  }
  #cx_header .cx_header h6 a{
      color: #757575;
      margin-right: 6px;
  }
  #cx_header .cx_header h6 a:hover{
      color: #424242;
  }
  #cx_header .cx_header h6 span{
      margin-right: 6px;
      color: #616161;
  }
  
  #cx_header .cx_header .cx_box {
    overflow: hidden;
    height: 180px;
    padding: 50px 200px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  #cx_header .cx_header .cx_box span {
    font-size: 12px;
    float: left;
    text-align: center;
  }
  
  #cx_header .cx_header .cx_box span p {
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 48px;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
#cx_header .cx_header .cx_box span:nth-child(1){
    color: #8bc34a;
}
#cx_header .cx_header .cx_box span:nth-child(1) p{
    color: #8bc34a;
    border-color: #8bc34a;
}
#cx_header .cx_header .cx_box i:nth-child(2){
    color: #8bc34a;
} 
#cx_header .cx_header .cx_box span:nth-child(3) p{
    color: #8bc34a;
    border-color: #8bc34a;
}
#cx_header .cx_header .cx_box span:nth-child(3) {
    color: #8bc34a;
}
#cx_header .cx_header .cx_box i:nth-child(4){
    color: #8bc34a;
}
#cx_header .cx_header .cx_box span:nth-child(5) p{
    color: #fff;
    background-color: #ff6700;
    border: 0;
} 
#cx_header .cx_header .cx_box span:nth-child(5){
    color: #ff6700;
}
#cx_header .cx_header .cx_box i {
    font-size: 25px;
    color: #cccccc;
    float: left;
    text-align: center;
    width: 160px;
    line-height: 48px;
  }
#cx_header .cx_header .cx_box .span4{
    color: #b0b0b0;
}


.wrap{
    width: 100%;
    height: 1000px;
    background-color: #f5f5f5;
    padding-top: 20px;
}
.wrap_inner{
    overflow: hidden;
}
.wrap_left{
    width: 358px;
    height: 395px;
    background-color: #fff;
    text-align: center;
    padding: 26px 0 0px;
    float: left;
}
.wrap_left p{
    font-size: 14px;
    color: #b0b0b0;
}
.wrap_left h2{
    line-height: 20px;
    min-height: 20px;
    font-size: 18px;
    color: #000000;
}
.wrap_left .imgBox{
    border: 1px solid #b3adad;
    display: block;
    margin: 15px auto;
    width: 200px;
    height: 200px;
}

.wrap_left span a{
    color: #8bc34a;
    font-size: 14px;
}
.wrap .wrap_inner .wrap_right{
    width: 854px;
    float: left; 
    margin-left: 14px;
}
.wrap .wrap_right .right_top{
    padding: 62px 56px 60px 100px;
    background-color: #fff;
}
.wrap_right .right_top h2{
    display: inline-block;
    font-size: 18px;
    color: #424242;
}
.wrap_right .right_top .title p{
    color: #ff6700;
    font-size: 48px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
}
.wrap_right .right_top .title span{
    color: #f60;
}
.wrap_right .right_top .back p{
    display: inline-block;
    font-size: 18px;
    color: #ff6700;
    line-height: 40px;
}
.wrap_right .right_top .back{
    margin: 15px 0;
}
.wrap_right .right_top h3{
    color: #bdbdbd;
    font-size: 12px;
}
.wrap_right .right_top span a{
    font-size: 8px;
    color: #b3adad;
}
.wrap_right .right_bottom{
    /* padding: 0 0 26px 110px; */
    padding-left: 100px;
    background-color: #f5ebeb;
    padding-bottom: 50px;
}
.wrap_right .right_bottom p{
    font-size: 14px;
    color: #424242;
    line-height: 70px;
}
.wrap_right .right_bottom p a{
    color: #424242;
}
.wrap_right .right_bottom span a{
    padding: 14px 78px;
    background-color: #ff6700;
    color: #fff;
}
.wrap_right .right_bottom span a:hover{
    background-color: #d45806;
}